/* 여기서 부터 각자 레이아웃 스타일 작업 */
.main-container {
	padding: 0;
}
#member-info-wrap {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
h2 {
	font-size: 24px;
	font-weight: 900;
	color: #6c4e82;
}
h3 {
	font-size: 24px;
	color: #6c4e82;
}
#member-info-wrap > section {
	padding: 30px;
}
.myparty-menubar {
	width: 200px;
}
.myparty-menubar h2,
.order-history h3 {
	margin-bottom: 30px;
}
.user-info {
	border: 1px solid #6c4e82;
	padding: 16px;
	font-size: 26px;
	background-color: #fff;
	margin-bottom: 20px;
	color: #6c4e82;
}
.user-info > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-info .profile {
	font-size: 26px;
	border: 1px solid #6c4e82;
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	border-radius: 999px;
}
.user-info .user-role {
	text-align: center;
	display: block;
	border: 1px solid #6c4e82;
	font-size: 20px;
	padding: 7px 0;
	margin-top: 10px;
}
.myparty-menubar nav li.active a {
	background-color: #6c4e82;
	color: #fff;
}
.myparty-menubar nav a {
	border: 1px solid #6c4e82;
	background-color: #fff;
	font-size: 20px;
	margin-top: 10px;
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #6c4e82;
}
.order-history {
	flex: 1;
}

/* 여기부터 내용 스타일 */
.member-delete-notice-container {
	line-height: 22px;
}
.member-delete-notice-container .member-delete-notice {
	display: flex;
	font-size: 24px;
	background-color: #d4c7d4;
	margin-bottom: 30px;
	color: #525151;
}
.member-delete-notice-container .member-delete-notice2 {
	font-size: 20px;
	color: #525151;
}
.member-withdrawal-statement-container {
	display: flex;
}
.member-withdrawal-statement-container .member-withdrawal-statement {
	display: inline-block;
	font-size: 20px;
	background-color: #d4c7d4;
	padding: 40px 77px 0 0;
	margin-right: 7px;
	color: #6c4e82;
}
.member-withdrawal-statement-container .member-withdrawal-statement2 {
	display: inline-block;
	font-size: 20px;
	color: #525151;
	background-color: #d4c7d4;
	margin-top: 39px;
}
.member-withdrawal-statement-enter-container {
	display: flex;
	padding-top: 40px;
}
.member-withdrawal-statement-enter-container
	.member-withdrawal-statement-enter {
	display: inline-block;
	font-size: 20px;
	background-color: #d4c7d4;
	padding-top: 4px;
	margin-right: 40px;
	color: #6c4e82;
}
.member-withdrawal-statement-enter-container .input {
	font-size: 20px;
	color: #525151;
}
.check-button {
	width: 100px;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 20px;
	background-color: #6c4e82;
	margin: 50px 0 0 140px;
}
