<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./ProductDetails.css" />
		<script type="module" src="./ProductDetails.js" defer></script>
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>상품 상세</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main role="main" id="product-details-main">
				<div class="main-container">
					<div id="product-details-container">
						<div class="product-icon-image">
							<img
								class="item-img"
								src="/"
								alt="main-image"
								width="400"
								height="400"
							/>
						</div>
						<div class="field">
							<span class="maker"></span>
							<span class="product-title"></span>
							<span class="product-price"></span>
							<strong>
								<span class="product-count">Quantity :</span>
								<input type="number" id="amount" value="1" min="1" />
							</strong>
							<strong>
								<span class="product-total-price">Total (QTY) :</span>
								<span class="product-total-cash"></span>
							</strong>
							<div class="product-put-shoppingcart">
								<button id="add-to-cart">
									<span class="to-cart-span">Add Cart</span>
								</button>
							</div>
						</div>
					</div>

					<div class="detail-item-box">
						<div class="detail-description-box">
							<h2>" Details "</h2>
							<span class="detail-description"> </span>
						</div>
						<div class="detail-img-box">
							<img class="detail-img" src="/" alt="detail-image" />
						</div>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
