#product-details-main > #product-details-container {
	display: flex;
	justify-content: center;
}

#product-details-main > #product-details-container > .product-icon-image {
	width: 500px;
	height: 500px;
	margin-right: 40px;
}

#product-details-main
	> #product-details-container
	> .product-icon-image
	> .item-img {
	width: 500px;
	height: 500px;
	border-radius: 18px;
	border: 2px double #6c4e82;
}
#product-details-main > #product-details-container > .field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #525151;
}
#product-details-main > #product-details-container > .field > .maker {
	width: 200px;
	height: 30px;
	font-size: 20px;
	color: #696969;
}

#product-details-main > #product-details-container > .field > .product-title {
	width: 450px;
	height: 50px;
	font-size: 40px;
	margin-top: 30px;
	border-radius: 10px;
	border-bottom: solid 2px;
	color: #6c4e82;
}

#product-details-main > #product-details-container > .field > .product-price {
	width: 204px;
	height: 68px;
	font-size: 20px;
	margin-top: 12px;
	color: #6c4e82;
}
#product-details-main > #product-details-container > .field > .product-detail {
	width: 450px;
	height: 70px;
	font-size: 24px;
	margin-top: 20px;
}
#product-details-main > #product-details-container > .field > strong {
	margin: 20px 0 0 0;
}
#product-details-main
	> #product-details-container
	> .field
	> strong
	> .product-count {
	width: 100px;
	height: 30px;
	font-size: 20px;
}
#product-details-main > #product-details-container > .field > strong > .input {
	width: 200px;
	height: 50px;
	font-size: 24px;
	margin: 0 0 0 100px;
}
#product-details-main
	> #product-details-container
	> .field
	> strong
	> .product-total-price {
	margin: 70px 0 0 0;
	width: 150px;
	height: 30px;
	font-size: 20px;
}
#product-details-main
	> #product-details-container
	> .field
	> strong
	> .product-total-cash {
	margin: 70px 0 0 50px;
	width: 150px;
	height: 30px;
	font-size: 20px;
}

.product-put-shoppingcart {
	/* width: 500px;
	height: 100px; */
	text-align: center;
	font-size: 24px;
	background-color: black;
	line-height: 100px;
	margin: 50px 0 0 0;
}

#add-to-cart {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #ffffff;
	background-color: #6c4e82;
	cursor: pointer;
	border: none;
	padding: 20px;
	font-size: 20px;
}
#add-to-cart:disabled {
	cursor: default;
	opacity: 1;
}

.product-put-shoppingcart span {
	display: inline-block;
	color: white;
	vertical-align: middle;
}

input {
	outline: none;
	margin: 0 15px;
	text-align: right;
	padding: 3px;
	border: 1px solid #6c4e82;
	font-size: inherit;
	color: #525151;
}
