#product-details-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#product-details-container {
	display: flex;
	justify-content: center;

	margin-top: 3%;
}

#product-details-container > .product-icon-image {
	width: 500px;
	height: 500px;
	margin-right: 40px;
}

#product-details-container > .product-icon-image > .item-img {
	width: 500px;
	height: 500px;
	border-radius: 18px;
	border: 2px double #6c4e82;
}
#product-details-container > .field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #525151;
}
#product-details-container > .field > .maker {
	width: 200px;
	height: 30px;
	font-size: 20px;
	margin-top: 10px;
	color: #9b82c3;
}

#product-details-container > .field > .product-title {
	width: 450px;
	height: 50px;
	font-size: 40px;
	margin-top: 20px;
	border-radius: 10px;
	border-bottom: solid 2px;
	color: #6c4e82;
}
#product-details-container > .field > .product-price {
	width: 450px;
	height: 144px;
	font-size: 22px;
	margin-top: 12px;
	margin-bottom: 20px;
	text-align: right;
	color: #6c4e82;
}
#product-details-container > .field > strong {
	margin: 20px 0 0 0;
}
#product-details-container > .field > strong > .product-count {
	width: 100px;
	height: 30px;
	font-size: 20px;
	color: #6c4e82;
}
#product-details-container > .field > strong > .product-total-price {
	margin: 70px 0 0 0;
	width: 150px;
	height: 30px;
	font-size: 20px;
	color: #6c4e82;
}
#product-details-container > .field > strong > .product-total-cash {
	margin: 70px 0 0 80px;
	width: 150px;
	height: 30px;
	font-size: 20px;
	color: #6c4e82;
}

.product-put-shoppingcart {
	/* width: 500px;
	height: 100px; */
	text-align: center;
	font-size: 24px;
	background-color: black;
	line-height: 100px;
	margin: 50px 0 0 0;
}

#add-to-cart {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #ffffff;
	background-color: #6c4e82;
	cursor: pointer;
	border: none;
	padding: 20px;
	font-size: 20px;
}
#add-to-cart:disabled {
	cursor: default;
	opacity: 1;
}

.product-put-shoppingcart span {
	display: inline-block;
	color: white;
	vertical-align: middle;
}

input {
	outline: none;
	margin: 0 0 0 100px;
	text-align: right;
	padding: 3px;
	border: 1px solid #876fb4;
	font-size: inherit;
	color: #6c4e82;
}

.detail-item-box {
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	margin: 10% 10%;
	padding: 40px 0;
	border-top: 2px double #6c4e82;
	text-align: center;
}

.detail-img {
	max-width: 100%;
	max-height: 100%;
}

.detail-description-box {
	margin-bottom: 10%;
}

.detail-description-box h2 {
	font-size: 30px;
	font-weight: 900;
	color: #6c4e82;
	padding: 5px 0;
	margin: 50px 0;
}

.detail-description-box span {
	font-size: 24px;
	color: #525151;
}
