/* 여기서 부터 각자 레이아웃 스타일 작업 */
.main-container {
	padding: 0;
}
#member-info-wrap {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
h2 {
	font-size: 24px;
	font-weight: 900;
	color: #6c4e82;
}
h3 {
	font-size: 24px;
	color: #6c4e82;
	margin-bottom: 29px;
}
.title-box {
	display: flex;
	justify-content: space-between;
}
.title-box .category-link {
	font-size: 24px;
	color: #6c4e82;
	margin-bottom: 29px;
}
.title-box .category-link:hover {
	color: #cbb5e5;
}
#member-info-wrap > section {
	padding: 30px;
}
.myparty-menubar {
	/* border-right: 1px solid #000; */
	width: 200px;
}
.myparty-menubar h2,
.order-history h3 {
	margin-bottom: 30px;
	color: #6c4e82;
}
.user-info {
	border: 1px solid #6c4e82;
	padding: 16px;
	font-size: 26px;
	background-color: #fff;
	margin-bottom: 20px;
}
.user-info > div {
	display: flex;
	color: #6c4e82;
	justify-content: space-between;
	align-items: center;
}
.user-info .profile {
	font-size: 26px;
	border: 1px solid #6c4e82;
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	border-radius: 999px;
}
.user-info .user-role {
	text-align: center;
	color: #6c4e82;
	display: block;
	border: 1px solid #6c4e82;
	font-size: 20px;
	padding: 7px 0;
	margin-top: 10px;
}
.myparty-menubar nav li.active a {
	background-color: #6c4e82;
	color: #fff;
}
.myparty-menubar nav a {
	border: 1px solid #6c4e82;
	background-color: #fff;
	font-size: 20px;
	margin-top: 10px;
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #6c4e82;
}
.items-section {
	flex: 1;
}
.field {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.field > * {
	display: flex;
}
.field span {
	flex: 1;
}
.field > * input {
	flex: 3;
}
.field2 {
	justify-content: center;
}
.member-withdrawal-link {
	justify-content: flex-end;
}
.field > * > *:last-child {
	flex: 3;
}

.btn_wrap {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
	color: #525151;
}
.btn_btw {
	display: flex;
	justify-content: space-between;
}
button {
	color: #fff;
	background-color: #6c4e82;
}
table.product {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #6c4e82;
}
table.product td {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #6c4e82;
	vertical-align: middle;
	color: #525151;
}

table.product thead tr {
	background: aliceblue;
}

table.product .img-box {
	width: 100px;
	height: 100px;
	background-size: cover;
}

table.product .img-box img {
	width: 100%;
	height: 100%;
}
