<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="/Common/common.css" />
		<link rel="stylesheet" href="./Category.css" />
		<script type="module" src="./Category.js" defer></script>
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>🦋 Butterfly</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main role="main" id="main">
				<div class="main-container">
					<h2 class="category-name"></h2>
					<div class="check-box">
						<input id="checkBox" type="checkbox" />
						<label for="checkBox"><span> 품절 제외</span></label>
						<select id="item-select">
							<option class="default-sort-option" value="newest" selected>신상품순</option>
							<option value="lowest">가격 낮은순</option>
							<option value="highest">가격 높은순</option>
						</select>
					</div>
					<ul class="icons products">
						<!-- 상품 -->
					</ul>
					<div class="empty-items-box"></div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
