<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./MemberInfo.css" />
		<!-- 우편번호 서비스 -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="module" src="./MemberInfo.js"></script>
		<title>My Page</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>MyPage</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🦋</div>
									<p class="user-name"><span id="user-name"></span>님</p>
								</div>
								<span class="user-role">Customer</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li class="active">
										<a href="/myPage">My Information</a>
									</li>
									<li>
										<a href="/myPage/orders">Order History</a>
									</li>
								</ul>
							</nav>
						</section>
						<!-- 회원정보 수정 -->
						<section class="member-info">
							<h3>• My Information</h3>
							<div id="info">
								<section>
									<span class="member-name">이름</span>
									<input class="input" id="receiver-name" disabled />
								</section>
								<section>
									<span class="member-email">이메일</span>
									<input class="input" id="receiver-email" disabled />
								</section>
									<form>
										<span class="member-password">비밀번호</span>
										<div class="password-box">
											<input
												class="input"
												id="receiver-password"
												type="password"
												name="form-pw"
												minlength="8"
												pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$"
												placeholder="영문, 숫자, 특수문자 조합 8글자를 입력해 주세요."
												required
											/>
											<input
												class="input"
												id="receiver-password-check"
												type="password"
												name="form-pwCheck"
												minlength="8"
												pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$"
												style="margin: 0 2px"
												placeholder="비밀번호 확인"
												required
											/>
											<button type="submit" id="updatePassword">
												비밀번호 변경
											</button>
										</div>
									</form>
							</div>
							<div>
								<h4>Set Default Shipping Address</h4>
								<div id="default-address">
									<section>
										<label class="" for="recipient">수령인</label>
										<input type="text" id="recipient" name="orderForm" />
									</section>
									<section>
										<label class="" for="phone">연락처</label>
										<input
											type="tel"
											id="phone"
											name="orderForm"
											maxlength="13"
										/>
									</section>
									<section>
										<label class="" for="phone">배송지</label>
										<article id="address-input">
											<div class="api-btn">
												<input
													type="text"
													readonly
													id="address"
													placeholder="주소"
												/>
												<button id="searchAddress" class="btn">주소검색</button>
											</div>
											<div>
												<input
													type="text"
													id="detail-address"
													placeholder="상세주소"
												/>
											</div>
										</article>
									</section>
									<section>
										<label for="shippingRequest">배송 요청사항</label>
										<input type="text" id="shippingRequest" name="orderForm" />
									</section>
									<section>
										<button id="updateAddress">기본 배송지 등록</button>
									</section>
								</div>
							</div>
							<div class="member-out">
								<a href="/myPage/delete-membership" id="member-out">
									Delete Account
								</a>
							</div>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
