<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./AdminItemDetail.css" />
		<!-- 우편번호 서비스 -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="module" src="./AdminItemDetail.js"></script>
		<title>Admin Page</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>MyPage</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🦋</div>
									<p class="user-name"><span id="user-name"></span>님</p>
								</div>
								<span class="user-role">Admin</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li>
										<a href="/admin/orders">Order List</a>
									</li>
									<li>
										<a href="/admin/users">User List</a>
									</li>
									<li class="active">
										<a href="/admin/items">Item List</a>
									</li>
								</ul>
							</nav>
						</section>
						<section class="item-info">
							<h3>• Product Detail</h3>
							<div id="info">
								<section>
									<span>상품명</span>
									<input
										class="input"
										id="ittem-title"
										required
										placeholder="Title"
									/>
								</section>
								<section>
									<span>가격</span>
									<input
										class="input"
										id="item-price"
										required
										placeholder="0"
									/>
								</section>
								<section>
									<span>제조사</span>
									<input
										class="input"
										id="item-manufacturer"
										required
										placeholder="Manufacturer"
									/>
								</section>
								<section>
									<span>상세 설명</span>
									<textarea
										rows="3"
										class="long-input"
										id="item-description"
										placeholder="Description"
									></textarea>
								</section>
								<section>
									<span>수량</span>
									<input
										class="input"
										id="item-current-amount"
										required
										placeholder="0"
									/>
								</section>
								<section>
									<span>판매량</span>
									<input class="input" id="item-sales-amount" value="0" />
								</section>
								<section>
									<span>카테고리</span>
									<div class="category"></div>
								</section>
								<section>
									<span>이미지</span>
									<textarea
										rows="2"
										class="long-input"
										id="item-img"
										placeholder="/"
									></textarea>
								</section>
								<section>
									<span>상세 이미지</span>
									<textarea
										rows="2"
										class="long-input"
										id="item-detail-img"
										placeholder="/"
									></textarea>
								</section>
							</div>
							<div class="btn-box">
								<button id="modify-btn">수정하기</button>
							</div>
							<div class="btn-box">
								<button id="create-btn">상품 등록</button>
							</div>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
