.main-container {
	padding: 0;
}
#member-info-wrap {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
h2 {
	font-size: 24px;
	font-weight: 900;
	color: #6c4e82;
}
h3 {
	font-size: 24px;
	color: #6c4e82;
}
#member-info-wrap > section {
	padding: 30px;
	color: #6c4e82;
}
.myparty-menubar {
	/* border-right: 1px solid #000; */
	width: 200px;
}
.myparty-menubar h2,
.item-info h3 {
	margin-bottom: 30px;
}
.user-info {
	border: 1px solid #6c4e82;
	padding: 16px;
	font-size: 26px;
	background-color: #fff;
	margin-bottom: 20px;
}
.user-info > div {
	display: flex;
	color: #6c4e82;
	justify-content: space-between;
	align-items: center;
}
.user-info .profile {
	font-size: 26px;
	border: 1px solid #6c4e82;
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	border-radius: 999px;
}
.user-info .user-role {
	text-align: center;
	color: #6c4e82;
	display: block;
	border: 1px solid #6c4e82;
	font-size: 20px;
	padding: 7px 0;
	margin-top: 10px;
}
.myparty-menubar nav li.active a {
	background-color: #6c4e82;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
.myparty-menubar nav a {
	border: 1px solid #6c4e82;
	background-color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #6c4e82;
}
.item-info {
	flex: 1;
}
h4 {
	font-size: 24px;
	margin-top: 20px;
	border-top: 1px solid;
	padding-top: 20px;
	color: #6c4e82;
}
.item-info #info span {
	font-size: 20px;
}
.item-info #info > * {
	display: flex;
	margin-top: 10px;
	align-items: center;
}
.item-info #info > * > :first-child {
	/* flex: 1; */
	flex-basis: 100px;
}
.item-info #info > * > :last-child {
	flex: 3;
	display: flex;
}
.item-info #info > * > :last-child > :first-child {
	flex: 1;
}
.input {
	outline: none;
	background-color: #fff;
	border: 1px solid #6c4e82;
	padding: 10px;
	color: #525151;
}
.long-input {
	outline: none;
	background-color: #fff;
	border: 1px solid #6c4e82;
	padding: 10px;
	color: #525151;
}
.api-btn {
	margin-bottom: 10px;
}
#updateAddress {
	display: block !important;
}
.btn-box {
	float: right;
	padding: 10px 0;
}
button {
	cursor: pointer;
	background-color: #6c4e82;
	color: #fff;
}
.btn {
	border-left: none;
	color: #6c4e82;
}
.member-out {
	text-align: right;
	margin-top: 20px;
}
.member-out a {
	color: #9c9c9c;
}
.member-out a:hover {
	text-decoration: underline;
}
input:disabled {
	background-color: #eee;
}
