<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<link rel="stylesheet" href="./GuestOrder.css" />
		<script type="module" src="./GuestOrder.js" defer></script>
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>Guest</title>
	</head>

	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container" id="guest-wrap">
					<!-- <section class="signin" id="loginForm"></section> -->

					<section class="guest">
						<h1>Welcome! Guest</h1>
						<div class="guest-card">
							<form>
								<input
									id="orderId"
									type="text"
									placeholder="order number"
								/>
								<input
									id="orderPassword"
									type="password"
									placeholder="password"
								/>
								<div>
									<button id="orderButton" type="button">Check</button>
								</div>
							</form>
						</div>
					</section>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
