<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./AdminCategoryManage.css" />
		<!-- 우편번호 서비스 -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="module" src="./AdminCategoryManage.js"></script>
		<title>회원 정보 수정</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>MyPage</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🦋</div>
									<p class="user-name"><span id="user-name"></span>님</p>
								</div>
								<span class="user-role">Admin</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li>
										<a href="/admin/orders">Order List</a>
									</li>
									<li>
										<a href="/admin/users">User List</a>
									</li>
									<li class="active">
										<a href="/admin/items">Item List</a>
									</li>
								</ul>
							</nav>
						</section>
						<section class="category-info">
							<h3>Category</h3>
							<div id="info"></div>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
