<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./Home.css" />
		<script type="module" src="./Home.js" defer></script>
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>🦋 Butterfly</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main role="main" id="main">
				<div class="main-container">
					<h2>💜 Best Items 💜</h2>
					<div id="slideShow">
						<ul class="slides">
							<!-- 베스트 상품 -->
						</ul>
						<p class="controller">
							<!-- &lang: 왼쪽 방향 화살표
						  &rang: 오른쪽 방향 화살표 -->
							<span class="prev">⇠❤︎ </span>
							<span class="next"> ❤︎⇢</span>
						</p>
					</div>
					<!-- <ul class="products-best"> -->
					<!-- 베스트 상품 -->
					<!-- </ul> -->
					<h2></h2>
					<ul class="products-total">
						<!--전체 상품 -->
					</ul>
				</div>
				<!-- 뱃지 -->
				<div class="badges">
					<button id="badge-close-btn">x</button>
					<div class="badge">
						<a class="badge-best-url" href="/">
							<img class="badge-best-img" src="/" alt="badge" />
							<div>✨ New 인기 상품 ✨</div>
						</a>
					</div>
					<div class="badge">
						<a class="badge-new-url" href="/">
							<img class="badge-new-img" src="/" alt="badge" />
							<div class="new-title">💟 신규 상품 💟</div>
						</a>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
