/* 여기서 부터 각자 레이아웃 스타일 작업 */
.main-container {
	padding: 0;
}
#member-info-wrap {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
h2 {
	font-size: 24px;
	font-weight: 900;
	color: #6c4e82;
}
h3 {
	font-size: 24px;
	color: #6c4e82;
}
#member-info-wrap > section {
	padding: 30px;
}
.myparty-menubar {
	width: 200px;
}
.myparty-menubar h2,
.user-history h3 {
	margin-bottom: 30px;
	color: #6c4e82;
}
.user-info {
	border: 1px solid #6c4e82;
	padding: 16px;
	font-size: 26px;
	background-color: #fff;
	margin-bottom: 20px;
}
.user-info > div {
	display: flex;
	color: #6c4e82;
	justify-content: space-between;
	align-items: center;
}
.user-info .profile {
	font-size: 26px;
	border: 1px solid #6c4e82;
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	border-radius: 999px;
}
.user-info .user-role {
	text-align: center;
	color: #6c4e82;
	display: block;
	border: 1px solid #6c4e82;
	font-size: 20px;
	padding: 7px 0;
	margin-top: 10px;
}
.myparty-menubar nav li.active a {
	background-color: #6c4e82;
	color: #fff;
}
.myparty-menubar nav a {
	border: 1px solid #6c4e82;
	background-color: #fff;
	font-size: 20px;
	margin-top: 10px;
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #6c4e82;
}
.user-history {
	flex: 1;
}
.user-history .history-list > li {
	border: 1px solid #6c4e82;
	margin-bottom: 20px;
	background-color: #fff;
}
.user-history .history-list .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #525151;
	border-bottom: 1px solid #6c4e82;
	padding: 10px 20px;
	font-size: 18px;
}
.user-history .history-list .info .email {
	font-weight: 700;
}
.user-history .history-list .user-list {
	padding: 20px;
	color: #525151;
}
.user-history .history-list .user-list li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 10px;
}
.user-history .history-list .user-list li:last-child {
	margin-bottom: 0;
}
.user-history .history-list .user-list li span {
	color: #525151;
	padding: 10px 0;
	display: flex;
	align-items: center;
}
.user-history select {
	color: #525151;
}
.field {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.field > * {
	display: flex;
}
.field span {
	flex: 1;
}
.field > * input {
	flex: 3;
}
.field2 {
	justify-content: center;
}
.member-withdrawal-link {
	justify-content: flex-end;
}
.field > * > *:last-child {
	flex: 3;
}
.user-select-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
#user-delete {
	color: #fff;
	background-color: #6c4e82;
	cursor: pointer;
}
