<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./AdminOrderManage.css" />
		<script type="module" src="./AdminOrderManage.js"></script>
		<title>Admin Page</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>MyPage</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🦋</div>
									<p class="user-name"><span id="user-name"></span>님</p>
								</div>
								<span class="user-role">Admin</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li class="active">
										<a href="/admin/orders">Order List</a>
									</li>
									<li>
										<a href="/admin/users">User List</a>
									</li>
									<li>
										<a href="/admin/items">Item List</a>
									</li>
								</ul>
							</nav>
						</section>
						<section class="order-history">
							<h3>Order History</h3>
							<div class="user-order-box">
								<select id="user-order">
									<option value="orders">전체 주문</option>
									<option value="preparing">상품 준비 중</option>
									<option value="shipping">배송 중</option>
									<option value="delivered">배송 완료</option>
									<option value="canceled">주문 취소</option>
								</select>
							</div>
							<ul class="history-list"></ul>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
